---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "inline-block text-lg transition-colors duration-200",
    isActive ? "text-zinc-300 underline-offset-4" : "text-zinc-500",
    className,
  ]}
  {...props}
>
  <slot />
</a>
