---
import { SITE_TITLE } from "../consts";
---

<header>
  <h2 class="text-4xl pb-4 flex font-medium items-center gap-8">
    <img
      src="/profile.webp"
      alt="timo's avatar"
      width="120"
      height="120"
      class="rounded-full w-32 h-32 object-cover border-none m-0 font-bold"
    />
    {SITE_TITLE}
  </h2>
</header>

