---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="flex justify-center sm:justify-start gap-8 mt-6 mb-10">
  <HeaderLink href="/">home</HeaderLink>
  <!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
  <HeaderLink href="https://twitter.com/timostrackfeldt" target="_blank">
    twitter
  </HeaderLink>
  <HeaderLink href="https://github.com/strackfeldt" target="_blank">
    github
  </HeaderLink>
  <HeaderLink href="https://www.linkedin.com/in/strackfeldt/" target="_blank">
    linkedin
  </HeaderLink>
</nav>
